{% extends 'base.html' %}

{% block title_block %}Registeration Page{% endblock %}

{% block style %}
<style>
    .container-m{
        width: 400px;        /* Adjust as needed */
  padding: 20px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2{
        color: black;
    }
    .book{
        color: black;
    }
</style>
{% endblock%}

{% block main_block %}


<div class="container-m">
    <h2>Register</h2>
    <form action="{{url_for('register')}}" method="POST">


        <div class="mb-3">
            <!-- <label for="name" >Enter Full Name:</label> -->
            <input type="text" name="name" id="name" class="form-control" placeholder="Full Name" required>
        </div>


        <div class="mb-3">
            <!-- <label for="email">Enter Username:</label> -->
            <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
        </div>


        <div class="mb-3">
            <!-- <label for="password">Enter Password:</label> -->
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        </div>


        <div class="mb-3">
            <!-- <label for="confirm_password">Confirm Password:</label> -->
            <input type="password" name="confirm_password" id="confirm_password" class="form-control"
                placeholder="Confirm Password" required>
        </div>

        <div class="mb-3">
            <!-- <label>Date of Birth</label> -->
            <input type="date" name="dob" class="form-control" required>
        </div>

        <div class="mb-3">
            <!-- <label for="mobile">Enter Mobile Number:</label> -->
            <input type="text" name="mobile" id="mobile" class="form-control" placeholder="Mobile Number" required>
        </div>


        <div class="mb-3">
            <!-- <label for="role">Select Role:</label> -->
            <select name="role" id="role" class="form-control" required>
                <option value="">Choose Role</option>
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        </div>



        <input type="submit" class="btn btn-primary" value="Register">
    </form>
<br>

    <p class="book">Already registered? <a class="btn btn-primary"  href="{{ url_for('login') }}">Login here</a></p>


</div>


{% endblock %}
















