{% extends "base.html" %}
{% block main_block %}
  <h2>Reset Your Password</h2>
  <form method="POST">
    <div class="mb-3">
      <label>New Password</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <div class="mb-3">
      <label>Confirm New Password</label>
      <input type="password" class="form-control" name="confirm_password" required>
    </div>
    <button type="submit" class="btn btn-success">Reset Password</button>
  </form>
{% endblock %}
